{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>BR Blog | 404 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" sizes="32x32" href="/media/images/favicon.jpg">
    <link rel="stylesheet" href="{% static 'assets/css/error_404.css' %}" type="text/css">
</head>
<body>
   <div id="notfound">
     <div class="notfound">
       <div class="notfound-404">
         <h1>404</h1>
         <h2>Page not found</h2>
       </div>
       <a href="/">Homepage</a>
     </div>
   </div>
</body>
</html>